.css-hzcega-MuiTabs-list {
    justify-content: space-evenly;
    border-bottom: 1px solid #d8d8d8;
}

.css-1qltlow-MuiTabs-indicator {
    height: 5px !important;
    border-radius: 3px;
}

.css-1qm1lh {
    margin-bottom: 16px;
    margin-left: 8%;
}