.css-v0zvw4-MuiListItemIcon-root {
    min-width: 26px !important;
}

.css-1rsx7w1-MuiListItemIcon-root {
    min-width: 28px !important;
}

.css-rizt0-MuiTypography-root {
    font-size: 13px !important;
    font-weight: bold !important;

}