.tab-btn {
  padding: 10px 20px;
  background: #f4f4f4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.tab-btn.selected {
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.form-group {
  margin-bottom: 15px;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.save-btn {
  background: #4F46E5;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
.chat-bubble {
  background: #eee;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 10px;
}
.chat-bubble.answer {
  background: #007BFF;
  color: white;
}
.option-btn,
.confirm-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #007BFF;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

.mock-browser-layout {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 79vh;
}

.browser-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background: #ff5f56;
}

.yellow {
  background: #ffbd2e;
}

.blue {
  background: #2e86ff;
}

.nav-line {
  height: 12px;
  background: #efeff1;
  border-radius: 20px;
  margin: 8px 0;
}

.content {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.block {
  background: #efeff1;
  flex: 1;
  height: 300px;
  border-radius: 20px;
}

.footer-block {
  background: #efeff1;
  height: 80px;
  border-radius: 20px;
}

.chat-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.status-dot {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #00c896;
  border-radius: 50%;
  border: 2px solid white;
}

.bot-icon {
  color: white;
  font-size: 22px;
}


::-webkit-scrollbar{
  width: 3px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcd9f8;
  border-radius: 2px;
}

